@import "ember-cli-bootstrap-4/bootstrap";

@font-face {
  font-family: 'FontAwesome';
  src: url('../assets/fonts/fontawesome-webfont.eot');
  font-weight: normal;
  font-style: normal;
}

$default_secondary_color: #E6E2EA;
$default_color: #24498E;

@import "./components/question-box";
@import "./components/bounce-image";

.container-fluid.c-snap {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.row.c-snap {
  scroll-snap-align: center;
}

.hearder-title {
  background-color: $default_color;
  color: #FFF;
  font-weight: bold;
  position: fixed;
  z-index: 9999;
  h1 {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 0.6rem;
    font-weight: normal;
  }
}

.nav-updown {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}