<div class="container vh-100">
  {{#each this.questionsWithNextIndentifier as |question index|}}
    {{#if (eq question.question_type "multiple-choice")}}
      <QuestionMultipleChoice @question={{question}} @position={{index}} />
    {{/if}}
  {{/each}}
</div>


{{outlet}}